<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta content="images/og-img.jpg" property="og:image" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="og:title" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <title>COCHING</title>
    <style>
      .box_default {
        padding: 16px;
        border-radius: 6px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        color: #666666;
        border: 1px solid #dddddd;
        text-align: center
      }
      .box_active {
        padding: 16px;
        background-color: rgba(255, 56, 92, 0.05);
        border-radius: 6px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        color: #ff385c;
        border: 1px solid #ff385c;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <!--반드시 이미지 경로, url경로 변경해주세요-->
    <!--type-02-->
    <table cellspacing="0" cellpadding="0" width="100%" style="margin: 0 auto; border: 0; background-color: #fafafa">
      <tbody>
        <tr>
          <td height="40"></td>
        </tr>
        <!-- 컨텐츠 영역 -->
        <tr>
          <td>
            <table cellspacing="0" cellpadding="0" width="100%" style="width: 100%; min-width: 700px; max-width: 700px; margin: 0 auto; border: 0; background-color: #ffffff">
              <tbody>
                <!-- 로고영역 -->
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                      <tbody>
                        <tr>
                          <td height="120">
                            <img src="##$${{baseUrl}}$$##/images/img-header-mail.jpg" width="100%" height="120px" alt="COCHING" loading="lazy" style="border: 0" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <!-- 컨텐츠 영역 -->
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                      <tbody>
                        <tr>
                          <td colspan="3" height="40"></td>
                        </tr>
                        <tr>
                          <td width="32"></td>
                          <td>
                            <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                              <tbody>
                                <!--제목-->
                                <tr>
                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 28px; font-weight: bold; line-height: 42px; color: #222222; word-break: keep-all; letter-spacing: -0.4px">
                                    COCHING에서 발송한<br />
                                    <span style="color: #ff385c">요청된 원료 사항</span>입니다.
                                  </td>
                                </tr>
                                <tr>
                                  <td height="20"></td>
                                </tr>
                                <!--인포-->
                                <tr>
                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; line-height: 26px; color: #666666; word-break: keep-all; letter-spacing: -0.4px">
                                    안녕하세요. COCHING입니다.<br />
                                    <strong style="color: #222222">$${{fmtRequestRgtDttm}}$$</strong>
                                    다음과 같이 원료를 요청하였습니다.</td>
                                </tr>
                                <tr>
                                  <td height="32"></td>
                                </tr>
                                <tr>
                                  <td>
                                    <hr style="background-color: #222222; height: 1px; border: 0; margin: 0" />
                                  </td>
                                </tr>
                                <tr>
                                  <td height="32"></td>
                                </tr>
                                <!--요청내용-->
                                <tr>
                                  <td>
                                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                                      <tbody>
                                        <!--기본정보-->
                                        <tr>
                                          <td>
                                            <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                                              <tbody>
                                                <tr>
                                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 26px; color: #222222; word-break: keep-all; letter-spacing: -0.4px">기본정보</td>
                                                </tr>
                                                <tr>
                                                  <td height="8"></td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                    <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse: collapse; table-layout: fixed; border: 1px solid #eeeeee">
                                                      <colgroup>
                                                        <col width="120" />
                                                        <col />
                                                        <col width="120" />
                                                        <col />
                                                      </colgroup>
                                                      <tbody>
                                                        <tr>
                                                          <th style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; word-break: keep-all; letter-spacing: -0.4px; text-align: center; background-color: #fafafa; padding: 10px 16px; font-weight: bold; color: #222222; border: 1px solid #eeeeee">
                                                            발주처
                                                          </th>
                                                          <td colspan="3" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; word-break: keep-all; letter-spacing: -0.4px; padding: 10px 16px; color: #666666; border: 1px solid #eeeeee">
                                                            $${{ptnName}}$$
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <th style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; word-break: keep-all; letter-spacing: -0.4px; text-align: center; background-color: #fafafa; padding: 10px 16px; font-weight: bold; color: #222222; border: 1px solid #eeeeee">
                                                            담당자
                                                          </th>
                                                          <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; word-break: keep-all; letter-spacing: -0.4px; padding: 10px 16px; color: #666666; border: 1px solid #eeeeee">
                                                            $${{membName}}$$
                                                          </td>
                                                          <th style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; word-break: keep-all; letter-spacing: -0.4px; text-align: center; background-color: #fafafa; padding: 10px 16px; font-weight: bold; color: #222222; border: 1px solid #eeeeee">
                                                            연락처
                                                          </th>
                                                          <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; word-break: keep-all; letter-spacing: -0.4px; padding: 10px 16px; color: #666666; border: 1px solid #eeeeee">
                                                            $${{phone}}$$
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <th style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; word-break: keep-all; letter-spacing: -0.4px; text-align: center; background-color: #fafafa; padding: 10px 16px; font-weight: bold; color: #222222; border: 1px solid #eeeeee">
                                                            이메일
                                                          </th>
                                                          <td colspan="3" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; word-break: keep-all; letter-spacing: -0.4px; padding: 10px 16px; color: #666666; border: 1px solid #eeeeee">
                                                            $${{email}}$$
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <th style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; word-break: keep-all; letter-spacing: -0.4px; text-align: center; background-color: #fafafa; padding: 10px 16px; font-weight: bold; color: #222222; border: 1px solid #eeeeee">
                                                            샘플받을 주소
                                                          </th>
                                                          <td colspan="3" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; word-break: keep-all; letter-spacing: -0.4px; padding: 10px 16px; color: #666666; border: 1px solid #eeeeee">
                                                            $${{address}}$$
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="32"></td>
                                        </tr>
                                        <!--요청원료-->
                                        <tr>
                                          <td>
                                            <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                                              <tbody>
                                                <tr>
                                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 26px; color: #222222; word-break: keep-all; letter-spacing: -0.4px">
                                                    요청원료
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td height="8"></td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                                                      <tbody>
                                                        <colgroup>
                                                          <col width="314" />
                                                          <col width="8" />
                                                          <col width="314" />
                                                        </colgroup>
                                                        <tr>
                                                          <!--item-->
                                                          <td style="padding: 16px 20px; background-color: #f5f5f5; border-radius: 12px">
                                                            <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                                                              <tbody>
                                                                <tr>
                                                                  <td colspan="2" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 26px; color: #222222; word-break: keep-all; letter-spacing: -0.4px">
                                                                    $${{title}}$$
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="8"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td width="60" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 24px; color: #666666; word-break: keep-all; letter-spacing: -0.4px">
                                                                    공급사
                                                                  </td>
                                                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 24px; color: #222222; word-break: keep-all; letter-spacing: -0.4px">
                                                                    $${{supplier}}$$
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td width="60" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 24px; color: #666666; word-break: keep-all; letter-spacing: -0.4px">
                                                                    담당자
                                                                  </td>
                                                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 24px; color: #222222; word-break: keep-all; letter-spacing: -0.4px">
                                                                    $${{managerName}}$$
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="32"></td>
                                        </tr>
                                        <!--요청자료-->
                                        <tr>
                                          <td>
                                            <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                                              <tbody>
                                                <tr>
                                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 26px; color: #222222; word-break: keep-all; letter-spacing: -0.4px">요청자료</td>
                                                </tr>
                                                <tr>
                                                  <td height="8"></td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                                                      <tbody>
                                                        <colgroup>
                                                          <col width="206" />
                                                          <col width="8" />
                                                          <col width="206" />
                                                          <col width="8" />
                                                          <col width="206" />
                                                        </colgroup>
                                                        <tr>
                                                          <!--item-->
                                                          <td class="$${{type001}}$$">MSDS, SPEC, 조성비 자료</td>
                                                          <td></td>
                                                          <!--item-->
                                                          <td class="$${{type002}}$$">견적서</td>
                                                          <td></td>
                                                          <!--item-->
                                                          <td class="$${{type003}}$$">샘플</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="32"></td>
                                        </tr>
                                        <!--요청사항-->
                                        <tr>
                                          <td>
                                            <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                                              <tbody>
                                                <tr>
                                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 26px; color: #222222; word-break: keep-all; letter-spacing: -0.4px">요청사항</td>
                                                </tr>
                                                <tr>
                                                  <td height="8"></td>
                                                </tr>
                                                <tr>
                                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; line-height: 20px; color: #666666; word-break: keep-all; letter-spacing: -0.4px">
                                                    $${{reqDetail}}$$
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="32"></td>
                                </tr>
                                <tr>
                                  <td>
                                    <hr style="background-color: #222222; height: 1px; border: 0; margin: 0" />
                                  </td>
                                </tr>
                                <tr>
                                  <td height="32"></td>
                                </tr>
                                <!-- 버튼 영역 -->
                                <tr>
                                  <td align="center">
                                    <a href="##$${{baseUrl}}$$##$${{buttonLink}}$$" target="_blank" rel="noreferrer noopener" style="color: #ffffff; background-color: #ff385c; text-decoration: none; display: inline-block; text-align: center; height: 100%; padding: 16px 32px; border-radius: 100px; font-weight: bold">요청원료 바로가기</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="32"></td>
                        </tr>
                        <tr>
                          <td colspan="3" height="40"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <!-- 푸터영역 -->
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0; background-color: #f4f4f7">
                      <tbody>
                        <tr>
                          <td width="32"></td>
                          <td>
                            <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                              <tbody>
                                <tr>
                                  <td height="32"></td>
                                </tr>
                                <tr>
                                  <td>
                                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <img src="##$${{baseUrl}}$$##/images/logo-gray-mail.png" width="100px" alt="COCHING" loading="lazy" style="border: 0; vertical-align: middle" />
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="10"></td>
                                        </tr>
                                        <tr>
                                          <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 12px; line-height: 20px; color: #999999; word-break: keep-all; letter-spacing: -0.4px">
                                            <strong>COCHING</strong> <strong>홈페이지</strong> <a href="https://www.coching.co.kr" style="color: #888" target="_blank" rel="noreferrer noopener">coching.co.kr</a> <br />
                                            <strong>사업자등록번호</strong> 316-81-29819<br />
                                            <strong>통신판매업 신고번호</strong> 2000-광명일직A-0000호
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="16"></td>
                                        </tr>
                                        <tr>
                                          <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 12px; line-height: 20px; color: #7387b9; word-break: keep-all; letter-spacing: -0.4px">본 메일은 발신 전용 메일이므로 회신하실 수 없습니다.</td>
                                        </tr>
                                        <tr>
                                          <td height="32"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="32"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="40"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
