<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta content="images/og-img.jpg" property="og:image" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="og:title" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <title>COCHING</title>
  </head>

  <body>
    <!--반드시 이미지 경로, url경로 변경해주세요-->
    <!--type-01-->
    <table cellspacing="0" cellpadding="0" width="100%" style="margin: 0 auto; border: 0; background-color: #fafafa">
      <tbody>
        <tr>
          <td height="40"></td>
        </tr>
        <!-- 컨텐츠 영역 -->
        <tr>
          <td>
            <table cellspacing="0" cellpadding="0" width="100%" style="width: 100%; min-width: 700px; max-width: 700px; margin: 0 auto; border: 0; background-color: #ffffff">
              <tbody>
                <!-- 로고영역 -->
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                      <tbody>
                        <tr>
                          <td height="120">
                            <img src="##$${{baseUrl}}$$##/images/img-header-mail.jpg" width="100%" height="120px" alt="COCHING" loading="lazy" style="border: 0" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <!-- 컨텐츠 영역 -->
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                      <tbody>
                        <tr>
                          <td colspan="3" height="40"></td>
                        </tr>
                        <tr>
                          <td width="32"></td>
                          <td>
                            <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                              <tbody>
                                <!--제목-->
                                <tr>
                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 28px; font-weight: bold; line-height: 42px; color: #222222; word-break: keep-all; letter-spacing: -0.4px">
                                    COCHING에서 발송한<br />
                                    <span style="color: #ff385c">$${{mailName}}$$</span>입니다.
                                  </td>
                                </tr>
                                <tr>
                                  <td height="20"></td>
                                </tr>
                                <!--인포-->
                                <tr>
                                  <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; line-height: 26px; color: #666666; word-break: keep-all; letter-spacing: -0.4px">안녕하세요. COCHING입니다.<br />
                                    비밀번호 5회 입력 실패하여 이메일이 발송되었습니다.<br/>
                                    아래 링크를 클릭하여 비밀번호를 변경하세요.<br/>
                                    이 이메일은 30분 후 비밀번호 변경 링크가 만료됩니다.
                                  </td>
                                </tr>
                                <tr>
                                  <td height="32"></td>
                                </tr>
                                <!-- 버튼 영역 -->
                                <tr>
                                  <td>
                                    <a href="##$${{baseUrl}}$$##$${{buttonLink}}$$" target="_blank" rel="noreferrer noopener" style="color: #ffffff; background-color: #ff385c; text-decoration: none; display: inline-block; text-align: center; height: 100%; padding: 16px 32px; border-radius: 100px; font-weight: bold">$${{buttonName}}$$</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="32"></td>
                        </tr>
                        <tr>
                          <td colspan="3" height="40"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <!-- 푸터영역 -->
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0; background-color: #f4f4f7">
                      <tbody>
                        <tr>
                          <td width="32"></td>
                          <td>
                            <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                              <tbody>
                                <tr>
                                  <td height="32"></td>
                                </tr>
                                <tr>
                                  <td>
                                    <table cellspacing="0" cellpadding="0" width="100%" style="border: 0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <img src="##$${{baseUrl}}$$##/images/logo-gray-mail.png" width="100px" alt="COCHING" loading="lazy" style="border: 0; vertical-align: middle" />
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="10"></td>
                                        </tr>
                                        <tr>
                                          <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 12px; line-height: 20px; color: #999999; word-break: keep-all; letter-spacing: -0.4px">
                                            <strong>COCHING</strong> <strong>홈페이지</strong> <a href="https://www.coching.co.kr" style="color: #888" target="_blank" rel="noreferrer noopener">coching.co.kr</a> <br />
                                            <strong>사업자등록번호</strong> 316-81-29819<br />
                                            <strong>통신판매업 신고번호</strong> 2000-광명일직A-0000호
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="16"></td>
                                        </tr>
                                        <tr>
                                          <td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 12px; line-height: 20px; color: #7387b9; word-break: keep-all; letter-spacing: -0.4px">본 메일은 발신 전용 메일이므로 회신하실 수 없습니다.</td>
                                        </tr>
                                        <tr>
                                          <td height="32"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="32"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="40"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
