<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">

        <!-- 변수 지정 -->
    <property name="LOG_FILE_NAME" value="CochingAdmin_WEB_PRD" />
    <property name="LOG_FILE_PATH" value="/data/app_data/erns/coching/admin/prd/logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{HH:mm:ss.SSS}[%-5level] %logger{40} : %msg%n</Pattern>
		</encoder>
	</appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <file>${LOG_FILE_PATH}/${LOG_FILE_NAME}.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_FILE_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>

            </timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{HH:mm:ss.SSS}[%-5level] %logger{40} : %msg%n</Pattern>
		</encoder>

	</appender>

	<logger name="org.thymeleaf" level="INFO"/>
	<logger name="jdbc" level="OFF" />	
	<logger name="org.hibernate.SQL" level="INFO"/>
	<logger name="org.quartz.core" level="INFO"/>
	<logger name="org.h2.server.web" level="INFO"/>
	<logger name="org.springframework" level="INFO"/>
	<logger name="com.zaxxer" level="INFO"/>

	<logger name="jdbc.sqltiming" level="WARN" />			<!-- SQL문과 수행 시간 정보(milliseconds) 포함 -->
	<logger name="jdbc.sqlonly" level="OFF" />				<!-- SQL문만 로깅, PreparedStatement일 경우 관련된 argument 값으로 대체된 SQL문 출력 -->	
	<logger name="jdbc.audit" level="OFF" />				<!-- ResultSet을 제외한 모든 JDBC 호출 정보 로깅. JDBC 문제를 추적해야 할 필요가 있는 경우에만 사용 -->
	<logger name="jdbc.connection" level="OFF" />			<!-- Connection의 연결과 종료에 관련된 로깅. 메모리 누수 확인? -->
	<logger name="jdbc.resultset" level="OFF" />			<!-- ResultSet을 포함한 모든 JDBC 호출 정보 로깅. 로그양이 많음 -->
	<logger name="jdbc.resultsettable" level="OFF" />		<!-- SQL 결과를 table 형태로 로깅 -->

	<logger name="com.erns.coching" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING"/>
	</root>
</configuration>
