<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="images/og-img.jpg" property="og:image" />
  <meta name="format-detection" content="telephone=no">
  <meta name="og:title" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <title>NICE4B2B</title>
</head>

<body>
  <!--반드시 이미지 경로, url경로 변경해주세요-->
  <div width="700px" style="max-width:700px;min-width:400px; margin: 0 auto">
    <table cellpadding="0" cellspacing="0" width="700px"
      style="max-width:700px;min-width:400px;background-color:#ffffff;border:0;border-top:8px solid #1a1f71">
      <tbody>
        <tr>
          <td style="margin:0;padding:0;border-left:1px solid #CED4DA;border-right:1px solid #CED4DA;">
            <table width="100%" cellpadding="0" cellspacing="0" style="border: 0;">
              <!-- head -->
              <tbody>
                <tr>
                  <td style="padding:40px 50px 30px 50px">
                    <table cellpadding="0" cellspacing="0" width="100%"
                      style="font-family:helvetica, Malgun Gothic, Gulim, Dotum, arial, sans-serif;text-align:left;border: 0;">
                      <tbody>

                        <tr>
                          <td colspan="2" style="padding:0;margin:0"><a
                              href="##$${{baseUrl}}$$##" target="_blank" title="새창"
                              rel="noreferrer noopener"
                              style="font-family:helvetica, Malgun Gothic, Gulim, Dotum, arial, sans-serif; color: #1a1f71; font-weight: bold; text-decoration: none; font-size: 28px; line-height: 1;">
                              NICE<span style="font-weight: 100;">for</span>B2B
                            </a>
                          </td>
                        </tr>

                        <tr>
                          <td style="padding-top: 30px;">
                            <p
                              style="margin:0;padding:0;color:#222;font-size:30px;line-height:40px;letter-spacing: -1.5px;">
                              NICE4B2B에서 발송한<br><span style="color:#1a1f71;font-weight: bold;">판매대금 지급 완료 안내</span>입니다.</p>
                          </td>
                          <td valign="top" width="150" style="padding-top: 30px;"><img
                              src="##$${{baseUrl}}$$##/images/img-mail.png" alt="mail" width="150"
                              height="126" style="vertical-align:middle; border: 0;" loading="lazy"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <!-- //head -->
                <!-- container -->
                <tr>
                  <td>
                    <table cellpadding="0" cellspacing="0" width="100%" style="max-width:700px;min-width:400px;">
                      <tbody>
                        <tr>
                          <td>
                            <table cellpadding="0" cellspacing="0" width="100%"
                              style="font-family:helvetica, Malgun Gothic, Gulim, Dotum, arial, sans-serif;border: 0;">
                              <tbody>
                                <tr>
                                  <td style="padding:0 50px 15px"><span
                                      style="font-size:18px;color:#222;line-height:30px">안녕하세요.</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding:0 50px 20px;">
                                    <span style="font-size:18px;color:#222;line-height:30px">
                                    	$${{fmtCntrcRgtDttm}}$$ 생성 된 <!-- 23년 7월 8일 생성 된 -->
                                    	“<strong style="color: #1790f9;">$${{cntrcName}}$$</strong>”의<br/>
                                    	판매대금이 $${{salesCompName}}$$에 입금되었습니다.<br/>
                                      	NICE4B2B 대금지급 서비스가 완료되었습니다.
                                    </span>
                                    <br>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding: 0 50px 50px;"><a href="##$${{baseUrl}}$$##$${{buttonLink}}$$"
                                      style="padding-left:15px; padding-right:15px;padding-top: 18px;padding-bottom:18px; background-color:#1a1f71; color:#ffffff; font-size:16px; word-break:break-word;display: block; text-align: center;text-decoration: none !important;font-family:helvetica, Malgun Gothic, Gulim, Dotum, arial, sans-serif !important;border-radius: 8px;">
                                      <strong> $${{buttonName}}$$ </strong><!-- 계약 보기 -->
                                      </a></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <!-- //container -->
                <!-- footer -->
                <tr>
                  <td>
                    <table cellpadding="0" cellspacing="0" width="100%" style="max-width:700px;min-width:400px;">
                      <tbody>
                        <tr>
                          <td>
                            <table cellpadding="0" cellspacing="0" width="100%"
                              style="font-family:helvetica, Malgun Gothic, Gulim, Dotum, arial, sans-serif;border: 0;">
                              <tbody>
                                <tr>
                                  <td
                                    style="padding:24px 50px 0;font-size:13px;color:#666781;line-height:22px;background-color: #F2F3F8;border-top: 1px solid #CED4DA;">
                                    본
                                    메일은 NICE4B2B
                                    서비스에서 발송 된 발신전용 메일이므로 회신할 수 없습니다.<br> 서비스와 관련된 문의사항은 고객센터(coching@nicednr.co.kr,
                                    1588-5659)로 연락주시기 바랍니다.
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="padding:15px 50px 24px;font-size:13px;color:#666781;line-height:22px;background-color: #F2F3F8; border-bottom: 1px solid #CED4DA;">
                                    NICE디앤알㈜ 서울특별시 서대문구 충정로 36 7층
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <!-- //footer -->
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
