<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">

        <!-- 변수 지정 -->
    <property name="LOG_FILE_NAME" value="CochingPartner_WEB" />
    <property name="LOG_FILE_PATH" value="/data/app_data/erns/coching/partner/qa/logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{HH:mm:ss.SSS}[%-5level] %logger{40} : %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <file>${LOG_FILE_PATH}/${LOG_FILE_NAME}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_FILE_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>

            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{HH:mm:ss.SSS}[%-5level] %logger{40} : %msg%n</Pattern>
        </encoder>

    </appender>

    <logger name="org.thymeleaf" level="INFO"/>
        <logger name="org.hibernate.SQL" level="INFO"/>
        <logger name="org.quartz.core" level="INFO"/>
        <logger name="org.h2.server.web" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="com.zaxxer" level="INFO"/>

        <logger name="jdbc.sqltiming" level="WARN"/>
        <logger name="jdbc.sqlonly" level="INFO"/>
        <logger name="jdbc.audit" level="WARN"/>
        <logger name="jdbc.resultset" level="WARN"/>
        <logger name="jdbc.resultsettable" level="INFO"/>

    <logger name="com.erns.coching" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>
